# PostgreSQL Ayarları
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=dictionary
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# MinIO Ayarları
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
SERVER_IP=64.226.102.192

# Backend Ayarları
BACKEND_PORT=8000
MINIO_ENDPOINT=minio:9000
SECRET_KEY=

# Traefik Ayarları
DIGITALOCEAN_API_TOKEN=
ACME_EMAIL=
DOMAIN=superisi.net